* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.homepage-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 100vh;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.text-content {
  max-width: 500px;
}

.text-content small {
  font-size: 1rem;
  color: #666;
  display: block;
  margin-bottom: 10px;
}

.text-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.get-started,
.learn-more {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #000;
}

.get-started {
  background-color: #000;
  color: #fff;
}

.learn-more {
  background-color: #fff;
  color: #000;
}

.image-placeholder {
  margin-top: 25%;
  width: 500px;
  height: 100%;
}

.placeholder {
  width: 100%;
  height: 50%;
  background-color: #e8e8e8;
}

.earnings {
  display: flex;
  justify-content: space-between;
}

.earnings div,
.text-content .benefits {
  margin: 1rem 0;
}

.earnings div h1 {
  margin-bottom: 1rem;
}

.benefits div {
  margin: 1rem 0;
}

.benefits div i {
  margin-right: 1rem;
}

.services-text-content h3 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 0.7rem;
}

.services-text-content div {
  margin: 1.5rem 0;
}

.services{
  display: flex;
  flex-direction: column;
}

.services .options{
  border: 1px solid black;
}

/* .text-content  */
